@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --primary: 45 93% 47%;
    --primary-hover: 45 93% 42%;
    --primary-active: 45 93% 37%;
    --primary-foreground: 0 0% 100%;

    --accent: 45 100% 96%;
    --accent-hover: 45 100% 92%;
    --accent-active: 45 100% 88%;
    --accent-foreground: 45 93% 15%;

    --muted: 45 20% 96%;
    --muted-foreground: 45 10% 45%;

    --success: 142 71% 40%;
    --error: 0 100% 35%;
    --overlay: 0 0% 0%;
    --border: 45 30% 90%;
    --ring: 45 93% 47%;
  }

  [data-theme='dark'] {
    --background: 0 0% 5%;
    --foreground: 0 0% 100%;

    --primary: 45 93% 55%;
    --primary-hover: 45 93% 60%;
    --primary-active: 45 93% 65%;
    --primary-foreground: 0 0% 0%;

    --accent: 45 20% 15%;
    --accent-hover: 45 20% 18%;
    --accent-active: 45 20% 21%;
    --accent-foreground: 45 93% 90%;

    --muted: 45 10% 12%;
    --muted-foreground: 45 10% 80%;

    --success: 142 71% 56%;
    --error: 0 80% 76%;
    --overlay: 0 0% 0%;
    --border: 45 20% 25%;
    --ring: 45 93% 55%;
  }

  * {
    @apply border-border;
  }

  ::-webkit-scrollbar {
    @apply h-3 w-3;
  }

  ::-webkit-scrollbar-track {
    @apply bg-muted;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg border-2 border-solid border-muted bg-scrollbar-thumb hover:bg-scrollbar-thumb-hover;
  }

  a,
  input,
  button {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-ring;
  }
}
